html {
  font-size: 37.5px;
}

.page {
  z-index: 1;
  position: relative;
  width: 10rem;
  height: 35.894rem;
  background-color: rgba(26, 27, 34, 1);
  overflow: hidden;
  justify-content: flex-end;
  padding-bottom: 0;
}

.wrap1 {
  z-index: auto;
  width: 10rem;
  height: 35.467rem;
}

.block1 {
  z-index: 39;
  width: 1.574rem;
  height: 0.747rem;
  border-radius: 6px;
  border: 1px solid rgba(63, 66, 81, 1);
  align-self: flex-end;
  margin-right: 0.534rem;
}

.txt1 {
  z-index: 38;
  width: 0.747rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHeiLight;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: left;
  align-self: flex-end;
  margin: -0.64rem 0.934rem 0 0;
}

.block2 {
  z-index: 2;
  height: 4.454rem;
  background: url(./img/SketchPngf575f55d550d9568e8654f27b636a98dad8e181112bd68ae6215383667c3d737.png)
    100% no-repeat;
  align-self: center;
  margin-top: 0.56rem;
  width: 8.934rem;
  justify-content: flex-end;
  padding-bottom: 0.454rem;
  align-items: center;
}

.outer1 {
  z-index: auto;
  width: 7.867rem;
  height: 3.467rem;
}

.bd1 {
  z-index: auto;
  width: 7.867rem;
  height: 0.934rem;
  justify-content: space-between;
}

.icon1 {
  z-index: 28;
  width: 0.934rem;
  height: 0.934rem;
}

.pic1 {
  z-index: 34;
  width: 1.974rem;
  height: 0.854rem;
  margin-top: 0.027rem;
}

.section1 {
  z-index: auto;
  width: 4.667rem;
  height: 0.88rem;
}

.word1 {
  z-index: 40;
  width: 4.667rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: left;
}

.info1 {
  z-index: 41;
  width: 3.734rem;
  height: 0.374rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.266rem;
  font-family: MicrosoftYaHeiLight;
  white-space: nowrap;
  line-height: 0.374rem;
  text-align: left;
  align-self: flex-start;
  margin-left: 0.027rem;
}

.bd2 {
  z-index: 4;
  width: 7.867rem;
  height: 0.027rem;
  background: url(./img/SketchPng34f0cfbf2da41ced04771fda4e16743e4c6aabd2b5e236e8b75b01e0fd1c6ba8.png)
    0rem -0.027rem no-repeat;
  background-size: 7.867rem 0.08rem;
  margin-top: 0.534rem;
}

.bd3 {
  z-index: auto;
  width: 7.867rem;
  height: 0.56rem;
  margin-top: 0.454rem;
}

.icon2 {
  z-index: 5;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.134rem;
}

.txt2 {
  z-index: 42;
  width: 3.174rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
  margin: 0.08rem 0 0 0.16rem;
}

.word2 {
  z-index: 43;
  width: 2.88rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin-left: 1.28rem;
}

.bd4 {
  z-index: auto;
  width: 6.587rem;
  height: 0.56rem;
  margin-top: 0.4rem;
}

.box1 {
  z-index: 14;
  width: 0.374rem;
  height: 0.374rem;
  background: url(./img/SketchPng29903582e388e5479183123bc92bfad57d2855d5c082f0cfe09addf467c00d52.png)
    100% no-repeat;
  margin-top: 0.107rem;
}

.word3 {
  z-index: 45;
  width: 1.28rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
  margin: 0.054rem 0 0 0.16rem;
}

.info2 {
  z-index: 44;
  width: 1.6rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin-left: 3.174rem;
}

.block3 {
  z-index: auto;
  width: 9.014rem;
  height: 4rem;
  flex-wrap: wrap;
  margin: 0.534rem 0 0 0.534rem;
}

.group1-0 {
  z-index: 46;
  height: 1.867rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  width: 4.374rem;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.587rem;
  margin: 0 0.267rem 0.267rem 0;
}

.bd5-0 {
  z-index: auto;
  width: 3.094rem;
  height: 1.2rem;
}

.mod1-0 {
  z-index: auto;
  width: 1.814rem;
  height: 0.427rem;
  margin-left: 0.64rem;
  justify-content: space-between;
}

.icon3-0 {
  z-index: 86;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.054rem;
}

.info3-0 {
  z-index: 79;
  width: 1.6rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.info4-0 {
  z-index: 121;
  width: 3.094rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
  margin-top: 0.267rem;
}

.group1-1 {
  z-index: 46;
  height: 1.867rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  width: 4.374rem;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.587rem;
  margin: 0 0.267rem 0.267rem 0;
  margin-right: 0;
}

.bd5-1 {
  z-index: auto;
  width: 3.094rem;
  height: 1.2rem;
}

.mod1-1 {
  z-index: auto;
  width: 1.814rem;
  height: 0.427rem;
  margin-left: 0.64rem;
  justify-content: space-between;
}

.icon3-1 {
  z-index: 86;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.054rem;
}

.info3-1 {
  z-index: 79;
  width: 1.6rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.info4-1 {
  z-index: 121;
  width: 3.094rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
  margin-top: 0.267rem;
}

.group1-2 {
  z-index: 46;
  height: 1.867rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  width: 4.374rem;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.587rem;
  margin: 0 0.267rem 0.267rem 0;
  margin-bottom: 0;
}

.bd5-2 {
  z-index: auto;
  width: 3.094rem;
  height: 1.2rem;
}

.mod1-2 {
  z-index: auto;
  width: 1.814rem;
  height: 0.427rem;
  margin-left: 0.64rem;
  justify-content: space-between;
}

.icon3-2 {
  z-index: 86;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.054rem;
}

.info3-2 {
  z-index: 79;
  width: 1.6rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.info4-2 {
  z-index: 121;
  width: 3.094rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
  margin-top: 0.267rem;
}

.group1-3 {
  z-index: 46;
  height: 1.867rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  width: 4.374rem;
  justify-content: center;
  align-items: flex-start;
  padding-left: 0.587rem;
  margin: 0 0.267rem 0.267rem 0;
  margin-right: 0;
  margin-bottom: 0;
}

.bd5-3 {
  z-index: auto;
  width: 3.094rem;
  height: 1.2rem;
}

.mod1-3 {
  z-index: auto;
  width: 1.814rem;
  height: 0.427rem;
  margin-left: 0.64rem;
  justify-content: space-between;
}

.icon3-3 {
  z-index: 86;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.054rem;
}

.info3-3 {
  z-index: 79;
  width: 1.6rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.info4-3 {
  z-index: 121;
  width: 3.094rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
  margin-top: 0.267rem;
}

.block4 {
  z-index: 48;
  height: 1.867rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  align-self: center;
  margin-top: 0.267rem;
  width: 8.934rem;
  justify-content: center;
  align-items: flex-end;
  padding-right: 1.147rem;
}

.box2 {
  z-index: auto;
  width: 6.56rem;
  height: 1.2rem;
  justify-content: space-between;
}

.section2 {
  z-index: auto;
  width: 1.494rem;
  height: 1.2rem;
}

.layer1 {
  z-index: auto;
  width: 1.494rem;
  height: 0.427rem;
  justify-content: space-between;
}

.icon4 {
  z-index: 95;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.054rem;
}

.txt3 {
  z-index: 81;
  width: 0.96rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.info5 {
  z-index: 123;
  width: 1.147rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
  align-self: center;
  margin-top: 0.267rem;
}

.section3 {
  z-index: 77;
  height: 0.854rem;
  border-radius: 5px;
  background-color: rgba(220, 156, 53, 1);
  box-shadow: 0px 2px 4px 0px rgba(253, 184, 71, 0.21);
  margin-top: 0.16rem;
  width: 2.027rem;
  justify-content: center;
  align-items: center;
}

.word4 {
  z-index: 82;
  width: 1.28rem;
  height: 0.427rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.32rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.427rem;
  text-align: left;
}

.block5 {
  z-index: 71;
  height: 1.12rem;
  border-radius: 12px;
  background-color: rgba(220, 156, 53, 1);
  align-self: center;
  margin-top: 0.534rem;
  width: 8.934rem;
  justify-content: center;
  align-items: flex-end;
  padding-right: 3.6rem;
}

.word5 {
  z-index: 83;
  width: 1.494rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: left;
}

.block6 {
  z-index: 49;
  height: 10.667rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  align-self: center;
  margin-top: 0.534rem;
  width: 8.934rem;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 0 0.454rem 0.427rem 0;
}

.outer2 {
  z-index: auto;
  width: 7.867rem;
  height: 9.707rem;
}

.word6 {
  z-index: 69;
  width: 1.6rem;
  height: 0.694rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.694rem;
  text-align: center;
  align-self: flex-start;
  margin-left: 3.067rem;
}

.box3 {
  z-index: 67;
  width: 0.48rem;
  height: 0.134rem;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  background-color: rgba(220, 156, 53, 1);
  align-self: flex-start;
  margin: 0.32rem 0 0 3.627rem;
}

.box4 {
  z-index: auto;
  width: 7.867rem;
  height: 0.8rem;
  margin-top: 0.694rem;
}

.wrap2 {
  z-index: 51;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: url(./img/SketchPngeb347434b17b275c378fb20e17b5e82938c3be41f53e3a98f0ee3bcb61ed610f.png)
    100% no-repeat;
}

.info6 {
  z-index: 62;
  width: 0.827rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin: 0.107rem 0 0 0.267rem;
}

.wrap3 {
  z-index: 58;
  width: 3.387rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
  margin: 0.107rem 0 0 2.587rem;
}

.word7 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(140, 220, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.word8 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  color: rgba(140, 220, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box5 {
  z-index: 66;
  width: 7.867rem;
  height: 0.027rem;
  background: url(./img/SketchPng6fd5e524c5f03c01f7e65806e1c0f59ab26d6cb674b66f05f16812a5f6c0e037.png) -0.027rem
    0rem no-repeat;
  background-size: 7.92rem 0.054rem;
  margin-top: 0.427rem;
}

.box6 {
  z-index: auto;
  width: 7.867rem;
  height: 0.8rem;
  margin-top: 0.4rem;
}

.mod2 {
  z-index: 53;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: url(./img/SketchPng3c28f54855a474ae8845e93e6e6efb7ee9ef3f9a3a17bcbce928d260d5943947.png)
    100% no-repeat;
}

.word9 {
  z-index: 61;
  width: 0.854rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin: 0.107rem 0 0 0.267rem;
}

.mod3 {
  z-index: 57;
  width: 3.387rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
  margin: 0.107rem 0 0 2.56rem;
}

.info7 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(220, 93, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info8 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  color: rgba(220, 93, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box7 {
  z-index: 65;
  width: 7.867rem;
  height: 0.027rem;
  background: url(./img/SketchPng6fd5e524c5f03c01f7e65806e1c0f59ab26d6cb674b66f05f16812a5f6c0e037.png) -0.027rem
    0rem no-repeat;
  background-size: 7.92rem 0.054rem;
  margin-top: 0.427rem;
}

.box8 {
  z-index: auto;
  width: 7.867rem;
  height: 0.8rem;
  margin-top: 0.4rem;
}

.main1 {
  z-index: 52;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: url(./img/SketchPngff5fb376b708bf0b7ec1e2730b169baac75e97c2b610563a2d62111de04809ba.png)
    100% no-repeat;
}

.word10 {
  z-index: 60;
  width: 0.88rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin: 0.107rem 0 0 0.267rem;
}

.main2 {
  z-index: 56;
  width: 3.387rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
  margin: 0.107rem 0 0 2.534rem;
}

.txt4 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(140, 220, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt5 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  color: rgba(140, 220, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box9 {
  z-index: 64;
  width: 7.867rem;
  height: 0.027rem;
  background: url(./img/SketchPng6fd5e524c5f03c01f7e65806e1c0f59ab26d6cb674b66f05f16812a5f6c0e037.png) -0.027rem
    0rem no-repeat;
  background-size: 7.92rem 0.054rem;
  margin-top: 0.427rem;
}

.box10 {
  z-index: auto;
  width: 7.76rem;
  height: 0.72rem;
  margin: 0.48rem 0 0 0.107rem;
}

.icon5 {
  z-index: 54;
  width: 0.667rem;
  height: 0.72rem;
}

.info9 {
  z-index: 59;
  width: 0.747rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
  margin: 0.027rem 0 0 0.294rem;
}

.mod4 {
  z-index: 55;
  width: 3.387rem;
  height: 0.56rem;
  overflow-wrap: break-word;
  text-align: right;
  white-space: nowrap;
  font-size: 0;
  margin: 0.027rem 0 0 2.667rem;
}

.info10 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(220, 93, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info11 {
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  color: rgba(220, 93, 53, 1);
  line-height: 0.56rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.box11 {
  z-index: 63;
  width: 7.867rem;
  height: 0.027rem;
  background: url(./img/SketchPng6fd5e524c5f03c01f7e65806e1c0f59ab26d6cb674b66f05f16812a5f6c0e037.png) -0.027rem
    0rem no-repeat;
  background-size: 7.92rem 0.054rem;
  margin-top: 0.427rem;
}

.box12 {
  z-index: auto;
  width: 7.867rem;
  height: 1.254rem;
  margin-top: 0.4rem;
  justify-content: space-between;
}

.section4 {
  z-index: 124;
  height: 1.254rem;
  border-radius: 8px;
  background-color: rgba(220, 156, 53, 1);
  width: 2.454rem;
  justify-content: center;
  align-items: center;
}

.mod5 {
  z-index: auto;
  width: 1.494rem;
  height: 0.56rem;
  justify-content: space-between;
}

.txt6 {
  z-index: 130;
  width: 0.907rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: left;
}

.icon6 {
  z-index: 125;
  width: 0.374rem;
  height: 0.374rem;
  margin-top: 0.107rem;
}

.section5 {
  z-index: 146;
  width: 3.734rem;
  height: 0.427rem;
  overflow-wrap: break-word;
  text-align: left;
  white-space: nowrap;
  margin-top: 0.454rem;
  font-size: 0;
}

.word11 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(160, 164, 180, 1);
  line-height: 0.427rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info12 {
  font-size: 0.32rem;
  font-family: MicrosoftYaHei-Bold;
  color: rgba(220, 156, 53, 1);
  line-height: 0.427rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

.block7 {
  z-index: 50;
  height: 7.387rem;
  border-radius: 12px;
  background-color: rgba(35, 37, 48, 1);
  align-self: center;
  margin-top: 0.534rem;
  width: 8.934rem;
  justify-content: flex-start;
  padding-top: 0.534rem;
  align-items: center;
}

.layer2 {
  z-index: auto;
  width: 7.867rem;
  height: 6.16rem;
}

.txt7 {
  z-index: 70;
  width: 2.134rem;
  height: 0.694rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.533rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.694rem;
  text-align: center;
  align-self: center;
}

.bd6 {
  z-index: 68;
  width: 0.48rem;
  height: 0.134rem;
  border-radius: 2.5px 2.5px 2.5px 2.5px;
  background-color: rgba(220, 156, 53, 1);
  align-self: center;
  margin-top: 0.32rem;
}

.bd7 {
  z-index: auto;
  width: 8.107rem;
  height: 3.52rem;
  margin-top: 0.507rem;
  flex-wrap: wrap;
}

.outer3-0 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
}

.bd8-0 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-0 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(160, 164, 180, 1);
}

.word12-0 {
  z-index: 141;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.outer3-1 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
}

.bd8-1 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-1 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(160, 164, 180, 1);
}

.word12-1 {
  z-index: 141;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.outer3-2 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
  margin-right: 0;
}

.bd8-2 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-2 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(160, 164, 180, 1);
}

.word12-2 {
  z-index: 141;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.outer3-3 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
  margin-bottom: 0;
}

.bd8-3 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-3 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.info14-3 {
  z-index: 135;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.outer3-4 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
  margin-bottom: 0;
}

.bd8-4 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-4 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.info14-4 {
  z-index: 135;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.outer3-5 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
  margin: 0 1.334rem 0.427rem 0;
  margin-right: 0;
  margin-bottom: 0;
}

.bd8-5 {
  z-index: auto;
  width: 1.814rem;
  height: 1.547rem;
}

.info13-5 {
  z-index: 131;
  width: 1.814rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.info14-5 {
  z-index: 135;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
  align-self: center;
  margin-top: 0.427rem;
}

.bd9 {
  z-index: auto;
  width: 7.067rem;
  height: 0.56rem;
  justify-content: space-between;
  margin: 0.427rem 0 0 0.507rem;
}

.txt8 {
  z-index: 132;
  width: 0.827rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
}

.word13 {
  z-index: 133;
  width: 1.627rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
}

.info15 {
  z-index: 134;
  width: 1.12rem;
  height: 0.56rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.426rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.56rem;
  text-align: center;
}

.block8 {
  z-index: 18;
  height: 1.6rem;
  background-color: rgba(34, 35, 46, 1);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.16);
  margin-top: 0.8rem;
  width: 10rem;
}

.layer3 {
  z-index: auto;
  width: 6.4rem;
  height: 0.534rem;
  justify-content: space-between;
  margin: 0.214rem 0 0 1.814rem;
}

.label1 {
  z-index: 25;
  width: 0.534rem;
  height: 0.534rem;
}

.label2 {
  z-index: 21;
  width: 0.534rem;
  height: 0.534rem;
}

.mod6 {
  z-index: 19;
  width: 0.534rem;
  height: 0.534rem;
  background: url(./img/SketchPng9852b33448144c532d21c66efac1dea5f64880c7bc827e6afa7997d489dabf4e.png)
    100% no-repeat;
}

.layer4 {
  z-index: auto;
  width: 6.614rem;
  height: 0.507rem;
  justify-content: space-between;
  margin: 0.107rem 0 0 1.707rem;
}

.info16 {
  z-index: 75;
  width: 0.747rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
}

.txt9 {
  z-index: 76;
  width: 0.747rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
}

.txt10 {
  z-index: 78;
  width: 0.747rem;
  height: 0.507rem;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 0.373rem;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 0.507rem;
  text-align: center;
}
