.page {
  z-index: 1;
  position: relative;
  width: 100vw;
  height: 216.54vw;
  background-color: rgba(26, 27, 34, 1);
  overflow: hidden;
}

.section1 {
  z-index: 3;
  height: 216.54vw;
  background: url(./img/SketchPng6b22be96eac3dd51e14436f0c28d60e409a1bd2eef121dbc8ced08b3995644e7.png)
    100% no-repeat;
  width: 100vw;
  justify-content: flex-end;
}

.bd1 {
  z-index: auto;
  width: 100vw;
  height: 189.34vw;
}

.block1 {
  z-index: auto;
  width: 89.34vw;
  height: 18.67vw;
  margin-left: 5.34vw;
  justify-content: space-between;
}

.box1 {
  z-index: 17;
  height: 18.67vw;
  border-radius: 12px;
  background-color: rgba(38, 51, 62, 0.69);
  width: 28vw;
  justify-content: center;
  align-items: center;
}

.group1 {
  z-index: auto;
  width: 18.14vw;
  height: 12vw;
}

.main1 {
  z-index: auto;
  width: 18.14vw;
  height: 4.27vw;
  justify-content: space-between;
}

.label1 {
  z-index: 30;
  width: 3.74vw;
  height: 3.74vw;
  margin-top: 0.54vw;
}

.info1 {
  z-index: 26;
  width: 12.8vw;
  height: 4.27vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.2vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 4.27vw;
  text-align: left;
}

.word1 {
  z-index: 76;
  width: 10.94vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
  align-self: center;
  margin-top: 2.67vw;
}

.box2 {
  z-index: 24;
  height: 18.67vw;
  border-radius: 12px;
  background-color: rgba(38, 51, 62, 0.69);
  width: 28vw;
}

.group2 {
  z-index: auto;
  width: 18.14vw;
  height: 4.27vw;
  justify-content: space-between;
  margin: 3.2vw 0 0 5.06vw;
}

.label2 {
  z-index: 35;
  width: 3.74vw;
  height: 3.74vw;
  margin-top: 0.54vw;
}

.word2 {
  z-index: 27;
  width: 12.8vw;
  height: 4.27vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.2vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 4.27vw;
  text-align: left;
}

.group3 {
  z-index: auto;
  width: 10.94vw;
  height: 5.07vw;
  margin: 2.66vw 0 0 8.8vw;
}

.word3 {
  z-index: 77;
  width: 10.94vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
}

.box3 {
  z-index: 25;
  height: 18.67vw;
  border-radius: 12px;
  background-color: rgba(38, 51, 62, 0.69);
  width: 28vw;
  justify-content: center;
  align-items: center;
}

.box4 {
  z-index: auto;
  width: 18.14vw;
  height: 12vw;
}

.group4 {
  z-index: auto;
  width: 18.14vw;
  height: 4.27vw;
  justify-content: space-between;
}

.icon1 {
  z-index: 44;
  width: 3.74vw;
  height: 3.74vw;
  margin-top: 0.54vw;
}

.word4 {
  z-index: 28;
  width: 12.8vw;
  height: 4.27vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.2vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 4.27vw;
  text-align: left;
}

.info2 {
  z-index: 78;
  width: 11.47vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei-Bold;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
  align-self: flex-start;
  margin: 2.66vw 0 0 2.93vw;
}

.block2 {
  z-index: 18;
  height: 11.47vw;
  border-radius: 12px;
  background-color: rgba(220, 156, 53, 1);
  align-self: center;
  margin-top: 5.34vw;
  width: 89.34vw;
  justify-content: center;
  align-items: center;
}

.layer1 {
  z-index: auto;
  width: 36.27vw;
  height: 5.07vw;
  justify-content: space-between;
}

.icon2 {
  z-index: 19;
  width: 3.74vw;
  height: 3.74vw;
  margin-top: 0.8vw;
}

.txt1 {
  z-index: 29;
  width: 31.2vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: left;
}

.block3 {
  z-index: 79;
  height: 72.8vw;
  border-radius: 12px;
  background: url(./img/SketchPngb0c5a35dd6893da0be3192dcf133c3a2a2eca06db5dd1d88ae73368e523863e3.png)
    100% no-repeat;
  align-self: center;
  margin-top: 5.34vw;
  width: 89.34vw;
  justify-content: flex-start;
  padding-top: 5.34vw;
  align-items: center;
  position: relative;
}

.group5 {
  z-index: auto;
  width: 78.67vw;
  height: 61.34vw;
}

.layer2 {
  z-index: auto;
  width: 46.67vw;
  height: 6.94vw;
  margin-left: 16vw;
  justify-content: space-between;
}

.word5 {
  z-index: 82;
  width: 10.67vw;
  height: 6.94vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 5.33vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 6.94vw;
  text-align: center;
}

.word6 {
  z-index: 83;
  width: 10.67vw;
  height: 6.94vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 0.3);
  font-size: 5.33vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 6.94vw;
  text-align: center;
}

.layer3 {
  z-index: 80;
  width: 78.67vw;
  height: 0.27vw;
  background: url(./img/SketchPng1634d043d91411d2b15100f21798558e32fc82801267149e4ed4d000ab156660.png)
    0vw -0.27vw no-repeat;
  background-size: 78.66vw 0.8vw;
  margin-top: 3.74vw;
}

.layer4 {
  z-index: auto;
  width: 78.67vw;
  height: 5.6vw;
  margin-top: 5.34vw;
}

.txt2 {
  z-index: 84;
  width: 4.54vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(160, 164, 180, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.word7 {
  z-index: 97;
  width: 12.8vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(160, 164, 180, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 36.27vw;
}

.info3 {
  z-index: 98;
  width: 17.07vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(160, 164, 180, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 8vw;
}

.layer5 {
  z-index: auto;
  width: 78.4vw;
  height: 5.6vw;
  margin-top: 4.27vw;
  justify-content: space-between;
}

.word8 {
  z-index: 94;
  width: 30.94vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.info4 {
  z-index: 95;
  width: 14.94vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.word9 {
  z-index: 96;
  width: 16.27vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(220, 156, 53, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.layer6 {
  z-index: auto;
  width: 78.4vw;
  height: 5.6vw;
  margin-top: 4.27vw;
}

.info5 {
  z-index: 91;
  width: 22.14vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.word10 {
  z-index: 92;
  width: 14.94vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 17.6vw;
}

.word11 {
  z-index: 93;
  width: 16.27vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(220, 156, 53, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 7.47vw;
}

.layer7 {
  z-index: auto;
  width: 78.4vw;
  height: 5.6vw;
  margin-top: 4.27vw;
}

.word12 {
  z-index: 88;
  width: 29.6vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.info6 {
  z-index: 89;
  width: 14.94vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 10.14vw;
}

.info7 {
  z-index: 90;
  width: 16.27vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(220, 156, 53, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 7.47vw;
}

.layer8 {
  z-index: auto;
  width: 78.4vw;
  height: 5.6vw;
  margin-top: 4.27vw;
}

.word13 {
  z-index: 85;
  width: 25.34vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
}

.word14 {
  z-index: 86;
  width: 14.94vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 14.4vw;
}

.word15 {
  z-index: 87;
  width: 16.27vw;
  height: 5.6vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(220, 156, 53, 1);
  font-size: 4.26vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.6vw;
  text-align: center;
  margin-left: 7.47vw;
}

.group6 {
  z-index: 81;
  position: absolute;
  left: 21.6vw;
  top: 15.74vw;
  width: 10.4vw;
  height: 0.54vw;
  border-radius: 1px;
  background-color: rgba(220, 156, 53, 1);
}

.block4 {
  z-index: 4;
  height: 16vw;
  background-color: rgba(34, 35, 46, 1);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.16);
  margin-top: 59.74vw;
  width: 100vw;
}

.box5 {
  z-index: auto;
  width: 64vw;
  height: 5.34vw;
  justify-content: space-between;
  margin: 2.13vw 0 0 18.13vw;
}

.icon3 {
  z-index: 11;
  width: 5.34vw;
  height: 5.34vw;
}

.label3 {
  z-index: 7;
  width: 5.34vw;
  height: 5.34vw;
}

.group7 {
  z-index: 5;
  width: 5.34vw;
  height: 5.34vw;
  background: url(./img/SketchPng9852b33448144c532d21c66efac1dea5f64880c7bc827e6afa7997d489dabf4e.png)
    100% no-repeat;
}

.box6 {
  z-index: auto;
  width: 66.14vw;
  height: 5.07vw;
  justify-content: space-between;
  margin: 1.06vw 0 0 17.06vw;
}

.txt3 {
  z-index: 14;
  width: 7.47vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
}

.txt4 {
  z-index: 15;
  width: 7.47vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
}

.word16 {
  z-index: 16;
  width: 7.47vw;
  height: 5.07vw;
  display: block;
  overflow-wrap: break-word;
  color: rgba(255, 255, 255, 1);
  font-size: 3.73vw;
  font-family: MicrosoftYaHei;
  white-space: nowrap;
  line-height: 5.07vw;
  text-align: center;
}
